<div class="container">
    <h1 class="title">
        Hello &amp; Welcome to Suppliers' Chain!
    </h1>
    <h3>Your Addresses</h3>
    <ol>
        <li *ngFor="let address of addresses">{{address}}</li>
    </ol>
    <h3>Items in a Stream</h3>
    <ol>
        <li *ngFor="let streamItem of streamItems">{{streamItem.key}}: {{streamItem.data}}</li>
    </ol>
    <h3>Your Balances</h3>
    <ol>
        <li *ngFor="let assetBalance of assetBalances">
            <h5>{{assetBalance.name}}</h5>
            <p>{{assetBalance.qty}}</p>
        </li>
    </ol>
</div>
