<div class="container">
    <h1 class="title">
        Hello &amp; Welcome to Suppliers' Chain!
    </h1>
    
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <div class="box">
                <h3>Items in a Stream</h3>
                <ol>
                    <li *ngFor="let streamItem of streamItems">{{streamItem.key}}: {{streamItem.data}}</li>
                </ol>
                <h3>Your Balances</h3>
                <ul>
                    <li *ngFor="let assetBalance of assetBalances">
                        <p><strong>{{assetBalance.name}}</strong></p>
                        <p>{{assetBalance.qty}}</p>
                    </li>
                </ul>
                <h3>Registered Suppliers</h3>
                <ol>
                    <li *ngFor="let supplier of registeredSuppliers">
                        <p><strong>{{supplier.supplierName}}</strong></p>
                        <p>Wallet# {{supplier.walletAddress}}</p>
                    </li>
                </ol>
                <h3>Publishers for Stream1</h3>
                <ol>
                    <li *ngFor="let publisher of publishers">
                        <p><strong>{{publisher.confirmed}}</strong></p>
                        <p>{{publisher.items}}</p>
                        <p>Wallet# {{publisher.publisher}}</p>
                    </li>
                </ol>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="box">
                <h3>Your Details</h3>
                <div *ngIf="supplierMatchingWithWallet">
                    <p class="text-success">You have already registered on Supplierchain!</p>
                    <ul>
                        <li>Name: {{supplierMatchingWithWallet.supplierName}}</li>
                        <li>Address: {{supplierMatchingWithWallet.supplierAddress}}</li>
                        <li>Wallet# <code>{{supplierMatchingWithWallet.walletAddress}}</code></li>
                    </ul>
                </div>
                <div *ngIf="!supplierMatchingWithWallet">
                        <p class="text-danger">You have not yet registered on Supplierchain!</p>
                    <ol>
                        <li *ngFor="let address of addresses">{{address}}</li>
                    </ol>
                </div>
                <div class="chain-meta" *ngIf="chainInfo">
                    <h3>Chain Information</h3>
                    <code class="attribute-label">
                        Node Address:
                    </code>
                    <code class="attribute-value">
                        {{chainInfo.nodeaddress}}
                    </code>
                    <code class="attribute-label">
                        Protocol:
                    </code>
                    <code class="attribute-value">
                        {{chainInfo.protocol}} v{{chainInfo.protocolversion}}
                    </code>
                    <code class="attribute-label">
                        Blocks:
                    </code>
                    <code class="attribute-value">
                        {{chainInfo.blocks}}
                    </code>
                </div>
                <div>
                    <input type ="text" [(ngModel)]="fromAddress"> {{fromAddress}}
                    <input type ="text" [(ngModel)]="toAddress">{{toAddress}}
                    <input type ="text" [(ngModel)]="streamName">{{streamName}}
                    <button (click) = "publishFrom()">Submit</button>
                </div>
             </div>
        </div>
    </div>
</div>
