@import '~open-color/open-color';

.chain-meta {
    margin-bottom: 20px;
    code {
        display: block;

        &.attribute-label
        {
            color: $oc-gray-5;
        }

        &.attribute-value
        {
            font-weight: bold;
        }
    }
}
