@import '../../styles';
@import '../../assets/styles/_variables';




  
  .loader {
    margin: 0 auto;
    width: 60px;
    height: 30px;
    text-align: center;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    
    > div {
      height: 100%;
      width: 8px;
      display: inline-block;
      float: left;
      margin-left: 2px;
      -webkit-animation: delay 0.8s infinite ease-in-out;
      animation: delay 0.8s infinite ease-in-out;
    }
    
    .bar1{
      background-color: #094f95 ;
    }
    .bar2{
      background-color: #094f95;
      -webkit-animation-delay: -0.7s;
      animation-delay: -0.7s;
    }
    .bar3{
      background-color: #094f95;
      -webkit-animation-delay: -0.6s;
      animation-delay: -0.6s;
    }
    .bar4{
      background-color: #094f95;
      -webkit-animation-delay: -0.5s;
      animation-delay: -0.5s;
    }
    .bar5{
      background-color: #094f95;
      -webkit-animation-delay: -0.4s;
      animation-delay: -0.4s;
    }
    .bar6{
      background-color: #094f95;
      -webkit-animation-delay: -0.3s;
      animation-delay: -0.3s;
    }
  }
  
  
  @-webkit-keyframes delay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.05) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes delay {
    0%, 40%, 100% { 
      transform: scaleY(0.05);
      -webkit-transform: scaleY(0.05);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }

  .div-disable{
    
      filter: opacity(.2) ;//blur(20px) grayscale(20%);
      
  
  }
  
.supplier-list-page
{
  ul{
    padding: 0;
    margin: 0;

  }

  ul li{
    list-style-type: none;
    display: inline-block;
    margin : 0;
    
  }

  ul li:hover{
    color: gold;
    
  }

  ul li.active ul li.secondary-active{
    color: gold;
    
  }


    .panel-heading
    {
        .fa-star{
            font-size: 13px !important;
        }
        .fa-star-half-o{

            font-size: 13px !important;
        }

        

        .float-right
        {
            float: right;
        }
    }

    .panel-body
    {
        .card-text
        {
            padding: 8px 0px;
            

            .name
            {
                font-weight: bolder;
            }

            .card-header-name
            {
                font-weight: bolder;
                font-size: 25px;
            }
        }
    }

    .modal
    {
        .modal-dialog
        {
             width: 35%;

            .rating-block-header,
            .rating-block-summary
            {
                text-align: center;
            }
        }
    }

    .staryellow{
        color: gold;
        font-size: 13px !important;
    }

    .staryellowNormal{
        color: gold;
    }
}