@import '../../styles';
@import '../../assets/styles/_variables';




.supplier-list-page
{
  ul{
    padding: 0;
    margin: 0;

  }

  ul li{
    list-style-type: none;
    display: inline-block;
    margin : 0;
    
  }

  ul li:hover{
    color: gold;
    
  }

  ul li.active ul li.secondary-active{
    color: gold;
    
  }

input[type="radio"]{

    display: none;
}
    .panel-heading
    {
        .fa-star{
            font-size: 13px !important;
        }
        .fa-star-half-o{

            font-size: 13px !important;
        }

        

        .float-right
        {
            float: right;
        }
    }

    .panel-body
    {
        .card-text
        {
            padding: 8px 0px;
            

            .name
            {
                font-weight: bolder;
            }

            .card-header-name
            {
                font-weight: bolder;
                font-size: 25px;
            }
        }
    }

    .modal
    {
        .modal-dialog
        {
            // width: 75%;

            .rating-block-header,
            .rating-block-summary
            {
                text-align: center;
            }
        }
    }

    .staryellow{
        color: gold;
        font-size: 13px !important;
    }

    .staryellowNormal{
        color: gold;
    }
}