<div class="row">
<div class="col-md-2 app-nav-bar">
  <app-navigation-bar></app-navigation-bar>
</div>
<div class="supplier-list-page container-fluid col-md-10">
  <div class="row">
    <div class="col-md-3" *ngFor="let supplier of registeredSuppliers">
      <div (click) = "printName(supplier.supplierName)" class="panel panel-primary" data-toggle="modal" data-target="#myModal">
        <div class="panel-heading">
          <span>Supplier Since</span>
          <span class="float-right">
            
             <i *ngFor="let rating of ratings" class ="fa" [ngClass] = "setClasses(rating,3.5)"  aria-hidden="true" ></i>
           
          </span>
        </div>
        <div class="panel-body">
          <div class="card-text">
            <span class="card-header-name">{{supplier.supplierName}}</span>
            <span class="value">{{supplier.comments}}</span>
          </div>
          <div class="card-text">
            <span class="name"> Email Address: </span>
            <span class="value">{{supplier.emailAddress}}</span>
          </div>
          <div class="card-text">
            <span class="name"> Contact No.: </span>
          <span class="value">{{supplier.phoneNo}}</span>
          </div>
        </div>
        <!--<div class="panel-footer">Panel Footer</div>-->
      </div>
    </div>
  </div>

    <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Rate the supplier</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="different-param-rating col-md-6 col-md-offset-3">

              <div class="row rating-block-header">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                  Rating
                </div>
              </div>
              <br/>
              <div class="row">
                <div class="col-md-6">
                  <span>
                    Price
                  </span>
                </div>
                <div class="col-md-6">
                 <ul>
                 <li *ngFor="let rating of ratings"><i (click)= "setVal(rating,'price')"  class ="fa fa-star" [ngClass]="{'staryellowNormal': priceRating>=rating}" aria-hidden="true"></i>&nbsp;</li>
                </ul>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <span>
                    Quality
                  </span>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li *ngFor="let rating of ratings"><i (click)= "setVal(rating,'quality')"  class ="fa fa-star" [ngClass]="{'staryellowNormal': qualityRating>=rating}" aria-hidden="true"></i>&nbsp;</li>
                    </ul>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <span>
                    Bid Response
                  </span>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li *ngFor="let rating of ratings"><i (click)= "setVal(rating,'bdrspns')"  class ="fa fa-star" [ngClass]="{'staryellowNormal': bidresponseRating>=rating}" aria-hidden="true"></i>&nbsp;</li>
                    </ul>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <span>
                    Message Response
                  </span>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li *ngFor="let rating of ratings"><i (click)= "setVal(rating,'msgrspns')"  class ="fa fa-star" [ngClass]="{'staryellowNormal': msgresponseRating>=rating}" aria-hidden="true"></i>&nbsp;</li>
                   </ul>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <span>
                    Technical Capability
                  </span>
                </div>
                <div class="col-md-6 ">
                    <ul>
                        <li *ngFor="let rating of ratings"><i (click)= "setVal(rating,'tchcap')"  class ="fa fa-star" [ngClass]="{'staryellowNormal': techcapabilityRating>=rating}" aria-hidden="true"></i>&nbsp;</li>
                   </ul>
                </div>
              </div>

              <div class="row rating-block-summary">
                <div class="col-md-6">
                </div>
               <br>
              </div>
              <div class="row rating-block-footer">
                <div class="col-md-12">
                    <div class="form-group">
                      <textarea class="form-control" id="exampleTextarea" placeholder="Comments" rows="3"></textarea>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
    

  </div>
  <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
          <h2 class="panel-title">
              <a (click)="toggleIcon=!toggleIcon" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <i class ="more-less glyphicon" [ngClass]="{'glyphicon-plus': toggleIcon, 'glyphicon-minus': !toggleIcon }" ></i>
                  Timeline
              </a>
          </h2>
      </div>
      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
              <div id="timeline">
                  <div class="row timeline-movement timeline-movement-top">
                  
                  <div class="timeline-badge timeline-future-movement">
                      <a href="#">
                          <span class="glyphicon glyphicon-time"></span>
                      </a>
                  </div>
              
              </div>
              <div class="row timeline-movement">
              
                  <div class="timeline-badge">
                      <span class="timeline-balloon-date-day">18</span>
                      <span class="timeline-balloon-date-month">APR</span>
                  </div>
              
              
                  <div class="col-sm-offset-6 col-sm-6  timeline-item">
                      <div class="row">
                          <div class="col-sm-offset-1 col-sm-11">
                              <div class="timeline-panel credits">
                                  <ul class="timeline-panel-ul">
                                      <li><span class="importo">Mussum ipsum cacilds</span></li>
                                      <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                                      <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2014</small></p> </li>
                                  </ul>
                              </div>
              
                          </div>
                      </div>
                  </div>
              
                  <div class="col-sm-6  timeline-item">
                      <div class="row">
                          <div class="col-sm-11">
                              <div class="timeline-panel debits">
                                  <ul class="timeline-panel-ul">
                                      <li><span class="importo">Mussum ipsum cacilds</span></li>
                                      <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                                      <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2014</small></p> </li>
                                  </ul>
                              </div>
              
                          </div>
                      </div>
                  </div>
              </div>
              
              <!--due -->
              
              <div class="row timeline-movement">
              
              
                  <div class="timeline-badge">
                      <span class="timeline-balloon-date-day">13</span>
                      <span class="timeline-balloon-date-month">APR</span>
                  </div>
              
                  <div class="col-sm-offset-6 col-sm-6  timeline-item">
                      <div class="row">
                          <div class="col-sm-offset-1 col-sm-11">
                              <div class="timeline-panel debits">
                                  <ul class="timeline-panel-ul">
                                      <li><span class="importo">Mussum ipsum cacilds</span></li>
                                      <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                                      <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2014</small></p> </li>
                                  </ul>
                              </div>
              
                          </div>
                      </div>
                  </div>
              
                  <div class="col-sm-6  timeline-item">
                      <div class="row">
                          <div class="col-sm-11">
                              <div class="timeline-panel credits">
                                  <ul class="timeline-panel-ul">
                                      <li><span class="importo">Mussum ipsum cacilds</span></li>
                                      <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                                      <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2014</small></p> </li>
                                  </ul>
                              </div>
              
                          </div>
                      </div>
                  </div>
              
              
              </div>
              <div class="row timeline-movement">
              
              
                  <div class="timeline-badge">
                      <span class="timeline-balloon-date-day">10</span>
                      <span class="timeline-balloon-date-month">APR</span>
                  </div>
              
                  <div class="col-sm-offset-6 col-sm-6  timeline-item">
                      <div class="row">
                          <div class="col-sm-offset-1 col-sm-11">
                              <div class="timeline-panel debits">
                                  <ul class="timeline-panel-ul">
                                      <li><span class="importo">Mussum ipsum cacilds</span></li>
                                      <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                                      <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2014</small></p> </li>
                                  </ul>
                              </div>
              
                          </div>
                      </div>
                  </div>
              
                  <div class="col-sm-6  timeline-item">
                      <div class="row">
                          <div class="col-sm-11">
                              <div class="timeline-panel credits">
                                  <ul class="timeline-panel-ul">
                                      <li><span class="importo">Mussum ipsum cacilds</span></li>
                                      <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                                      <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2014</small></p> </li>
                                  </ul>
                              </div>
              
                          </div>
                      </div>
                  </div>
              
              
              </div>
              </div>
          </div>
      </div>
  </div>
      
</div>
</div>

