<div class="row">
<div class="col-md-2 app-nav-bar">
  <app-navigation-bar></app-navigation-bar>
</div>
<div class="supplier-list-page container-fluid col-md-10">
 <div class="row">   
 <div class="col-md-12" [hidden] = "!errorinRating">
    <div class="alert alert-info alert-dismissible" role="alert">
                  <button type="button" class="close" (click) ="errorinRating=''"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <strong>Heads Up!</strong> {{errorinRating}}
  </div>
  </div>
</div>
  <div class="row">
    <div class="col-md-3" *ngFor="let supplier of registeredSuppliers">
      <div  class="panel panel-primary">
     
        <div class="panel-heading">
        <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#myModal">Open Modal</button>
          <span>Supplier Since</span>
          <span (click) = "printName(supplier.walletAddress)" class="float-right">
            
             <i *ngFor="let rating of ratings" class ="fa" [ngClass] = "setClasses(rating,supplier.averagerating)"  aria-hidden="true" ></i>
           
          </span>
        </div>
        <div class="panel-body">
          <div class="card-text">
            <span class="card-header-name">{{supplier.supplierName}}</span>
            <span class="value">{{supplier.comments}}</span>
          </div>
          <div class="card-text">
            <span class="name"> Email Address: </span>
            <span class="value">{{supplier.emailAddress}}</span>
          </div>
          <div class="card-text">
            <span class="name"> Contact No.: </span>
          <span class="value">{{supplier.phoneNo}}</span>
          </div>
        </div>
        <!--<div class="panel-footer">Panel Footer</div>-->
      </div>
    </div>
  </div>

    <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
     
      <div class="modal-content" >
            <div [ngStyle]="{'display': loaderInd?'block':'none'}"  [ngClass] ="{'loader':loaderInd}">
                    <div class="bar1"></div>
                    <div class="bar2" ></div>
                    <div class="bar3"></div>
                    <div class="bar4"></div>
                    <div class="bar5"></div>
                    <div class="bar6"></div>
             </div>
        <div class="modal-header" [ngClass]="{'div-disable': loaderInd}">
          <button type="button" [disabled] = "loaderInd"  class="close" (click) = "clearRating()" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Rate the supplier</h4>
        </div>
        <div class="modal-body" [ngClass]="{'div-disable': loaderInd}">
        <div class="row">
        <div class="col-md-12" [hidden] = "!messageinRating">
           <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" (click) ="messageinRating=''"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
             <strong>Success!</strong> {{messageinRating}}
         </div>
         </div>    
        </div>
          <div class="row">
            <div class="different-param-rating col-md-6 col-md-offset-3">

              <div class="row rating-block-header">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                  Rating
                </div>
              </div>
              <br/>
              <div class="row">
                <div class="col-md-6">
                  <span>
                    Price
                  </span>
                </div>
                <div class="col-md-6">
                 <ul>
                 <li *ngFor="let rating of ratings"><i (click)= "setVal(rating,'price')"  class ="fa fa-star" [ngClass]="{'staryellowNormal': priceRating>=rating}" aria-hidden="true"></i>&nbsp;</li>
                </ul>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <span>
                    Quality
                  </span>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li *ngFor="let rating of ratings"><i (click)= "setVal(rating,'quality')"  class ="fa fa-star" [ngClass]="{'staryellowNormal': qualityRating>=rating}" aria-hidden="true"></i>&nbsp;</li>
                    </ul>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <span>
                    Bid Response
                  </span>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li *ngFor="let rating of ratings"><i (click)= "setVal(rating,'bdrspns')"  class ="fa fa-star" [ngClass]="{'staryellowNormal': bidresponseRating>=rating}" aria-hidden="true"></i>&nbsp;</li>
                    </ul>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <span>
                    Message Response
                  </span>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li *ngFor="let rating of ratings"><i (click)= "setVal(rating,'msgrspns')"  class ="fa fa-star" [ngClass]="{'staryellowNormal': msgresponseRating>=rating}" aria-hidden="true"></i>&nbsp;</li>
                   </ul>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <span>
                    Technical Capability
                  </span>
                </div>
                <div class="col-md-6 ">
                    <ul>
                        <li *ngFor="let rating of ratings"><i (click)= "setVal(rating,'tchcap')"  class ="fa fa-star" [ngClass]="{'staryellowNormal': techcapabilityRating>=rating}" aria-hidden="true"></i>&nbsp;</li>
                   </ul>
                </div>
              </div>

              <div class="row rating-block-summary">
                <div class="col-md-6">
                </div>
               <br>
              </div>
              <div class="row rating-block-footer" >
                <div class="col-md-12">
                    <div class="form-group">
                      <textarea class="form-control" id="exampleTextarea" placeholder="Comments" [(ngModel)]="reviews" rows="3"></textarea>
                    </div>
                </div>
                <br>
                
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer" [ngClass]="{'div-disable': loaderInd}">
          <button type="button" class="btn btn-primary" [disabled] = "loaderInd"  (click) = "publishFrom()">Submit</button>
          <button type="button" class="btn btn-default" [disabled] = "loaderInd"  data-dismiss="modal" (click) = "clearRating()">Close</button>
        </div>
      </div>
    </div>
    

  </div>
  <div class="panel panel-default">
        
      <div class="panel-heading" role="tab" id="headingOne">
          <h2 class="panel-title">
              <a (click)="collapseTimelines()" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <i class ="more-less glyphicon" [ngClass]="{'glyphicon-plus': toggleIcon, 'glyphicon-minus': !toggleIcon }" ></i>
                   Timeline
              </a>
          </h2>
      </div>
      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="row">
        <div [ngStyle]="{'display': loaderIndCollapse?'block':'none'}"  [ngClass] ="{'loader':loaderIndCollapse}">
                <div class="bar1"></div>
                <div class="bar2" ></div>
                <div class="bar3"></div>
                <div class="bar4"></div>
                <div class="bar5"></div>
                <div class="bar6"></div>
        </div>      
        </div>                
          <div [ngStyle]="{'display': !loaderIndCollapse?'block':'none'}" class="panel-body">
              
              <div id="timeline">
                  <div class="row timeline-movement timeline-movement-top">
                  
                  <div class="timeline-badge timeline-future-movement">
                      <a href="#">
                          <span class="glyphicon glyphicon-time"></span>
                      </a>
                  </div>
              
              </div>
              <div *ngFor="let timeline of timelines" class="row timeline-movement">
              
                  <div class="timeline-badge">
                      <span class="timeline-balloon-date-day">{{timeline.day}}</span>
                      <span class="timeline-balloon-date-month">{{timeline.month}}</span>
                  </div>
              
                 
                  <div *ngFor="let timelineitem of timeline.timelineItems"  [ngClass]="{'col-sm-offset-6' : timelineitem.count%2==0}" class="col-sm-6  timeline-item">
                      <div class="row">
                          <div [ngClass]="{'col-sm-offset-1' : timelineitem.count%2==0}" class="col-sm-11">
                              <div class="timeline-panel" [ngClass]="{'debits' : timelineitem.count%2==0,'credits' : timelineitem.count%2!=0}">
                                  <ul class="timeline-panel-ul">
                                      <li><span class="importo">{{timelineitem.ratingVerification}}</span></li><br>
                                      <li><span class="causale">{{timelineitem.dataitem}}</span> </li><br>
                                      <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;{{timelineitem.date}}</small></p> </li>
                                  </ul>
                              </div>
              
                          </div>
                      </div>
                  </div>
                  </div>
              
              
              
              <!--due -->
              
              
              
              </div>
          </div>
      </div>
  </div>
  
</div>
</div>

