
<div class="user-profile-page container-fluid">
  <div class="row">
    <div class="user-details col-md-3">
      <div class="card">
         <img src="http://placehold.it/350x250" alt="" class="img-rounded img-responsive" />
        <div class="card-block">
          <h4 class="card-title">{{registeredUser.supplierName}}</h4>
          <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="glyphicon glyphicon-envelope"></i> {{registeredUser.emailAddress}}
            </li>
          <li class="list-group-item">
            <i class="glyphicon glyphicon-map-marker"></i> {{registeredUser.supplierName}}
          </li>
          <li class="list-group-item">
            <i class="fa fa-phone" aria-hidden="true"></i> {{registeredUser.phoneNo}}
          </li>
        </ul>
      </div>
    </div>

    <div class="user-rating col-md-3">
      <div class="row rating-block-header">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
          Rating
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <span>
            Price
          </span>
        </div>
        <div class="col-md-6">
          <star-rating-comp [starType]="'svg'" 
                            [(rating)]="price"
                            (onRatingChange)="onRatingChange($event,'PRICE')"></star-rating-comp>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <span>
            Quality
          </span>
        </div>
        <div class="col-md-6">
          <star-rating-comp [starType]="'svg'" 
                            [rating]="quality"
                            (onRatingChange)="onRatingChange($event,'QUALITY')"></star-rating-comp>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <span>
            Bid Response
          </span>
        </div>
        <div class="col-md-6">
          <star-rating-comp [starType]="'svg'" 
                            [(rating)]="bidResponse"
                            (onRatingChange)="onRatingChange($event,'BIDRESPONSE')"></star-rating-comp>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <span>
            Message Response
          </span>
        </div>
        <div class="col-md-6">
          <star-rating-comp [starType]="'svg'" 
                            [(rating)]="messageResponse"
                            (onRatingChange)="onRatingChange($event,'MESSAGERESPONSE')"></star-rating-comp>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <span>
            Technical Capability
          </span>
        </div>
        <div class="col-md-6">
          <star-rating-comp [starType]="'svg'" 
                            [(rating)]="technical"
                            (onRatingChange)="onRatingChange($event,'TECHNICAL')"></star-rating-comp>
        </div>
      </div>
    </div>

    <div class="reviews col-md-6">
      <div class="row">
        <div class="panel panel-primary">
          <div class="panel-heading">User's reviews</div>
          <div class="panel-body-container">
            <div class="panel-body"  *ngFor="let item of items">
              <div class="user-name">
              </div>
              <div class="user-rating ">
                <star-rating-comp [starType]="'svg'" 
                                  [rating]="3"
                                  [size]="'medium'"
                                  [readOnly]="true" class="avg-rating">
                </star-rating-comp>
                <div class="dropdown">
                  <i class="fa fa-info-circle ratting-info-icon" aria-hidden="true"></i>      
                  <div class="dropdown-content">
                    <star-rating-comp [starType]="'svg'" 
                                      [labelText]="'Price'"
                                      [rating]="3"
                                      [size]="'medium'"
                                      [readOnly]="true" class="avg-rating">
                    </star-rating-comp>
                    <star-rating-comp [starType]="'svg'" 
                                      [labelText]="'Quality'"
                                      [rating]="3"
                                      [size]="'medium'"
                                      [readOnly]="true" class="avg-rating">
                    </star-rating-comp>
                    <star-rating-comp [starType]="'svg'" 
                                      [labelText]="'Bid Response'"
                                      [rating]="3"
                                      [size]="'medium'"
                                      [readOnly]="true" class="avg-rating">
                    </star-rating-comp>
                    <star-rating-comp [starType]="'svg'" 
                                      [labelText]="'Message Response'"
                                      [rating]="3"
                                      [size]="'medium'"
                                      [readOnly]="true" class="avg-rating">
                    </star-rating-comp>
                    <star-rating-comp [starType]="'svg'" 
                                      [labelText]="'Technical Capability'"
                                      [rating]="3"
                                      [size]="'medium'"
                                      [readOnly]="true" class="avg-rating">
                    </star-rating-comp>
                  </div>        
                </div>
              </div>
              <br>
              <div class="row user-comments">
                <blockquote>
                  <header class="writer-name">From WWF's website:</header>
                  <p>For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.</p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
