<div class="row">
  <div class="col-md-2 app-nav-bar">
      <app-navigation-bar></app-navigation-bar>
    </div>
<div class="user-profile-page container-fluid col-md-10">
  <div class="row">
    <div class="user-details col-md-6">
      <div class="card">
         <img src="http://placehold.it/500x250" alt="" class="img-rounded img-responsive" />
        <div class="card-block">
          <h4 class="card-title">{{registeredUser.supplierName}}</h4>
          <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <i class="fa fa-info" aria-hidden="true"></i> Company Description
          </li>
          <li class="list-group-item">
            <i class="glyphicon glyphicon-envelope"></i> {{registeredUser.emailAddress}}
            </li>
          <li class="list-group-item">
            <i class="glyphicon glyphicon-map-marker"></i> {{registeredUser.address}}
          </li>
          <li class="list-group-item">
            <i class="fa fa-phone" aria-hidden="true"></i> {{registeredUser.phoneNo}}
          </li>
          <li class="list-group-item">
              <ul> <li><i class="fa fa-gift" aria-hidden="true"></i>&nbsp;Ratings Received</li><br>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp;Price&nbsp;&nbsp;<i *ngFor="let rating of ratings" class ="fa" [ngClass] = "setClasses(rating,3.5)"  aria-hidden="true" >&nbsp;</i></li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp;Quality&nbsp;&nbsp;<i *ngFor="let rating of ratings" class ="fa" [ngClass] = "setClasses(rating,3.5)"  aria-hidden="true" >&nbsp;</i></li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp;Bid Response&nbsp;&nbsp;<i *ngFor="let rating of ratings" class ="fa" [ngClass] = "setClasses(rating,3.5)"  aria-hidden="true" >&nbsp;</i></li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp;Message Response&nbsp;&nbsp;<i *ngFor="let rating of ratings" class ="fa" [ngClass] = "setClasses(rating,3.5)"  aria-hidden="true" >&nbsp;</i></li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp;Technical Capability&nbsp;&nbsp;<i *ngFor="let rating of ratings" class ="fa" [ngClass] = "setClasses(rating,3.5)"  aria-hidden="true" >&nbsp;</i></li>
              </ul>
            </li>
        </ul>
      </div>
    </div>

   

    <div class="reviews col-md-6">
      <div class="row">
        <div class="panel panel-primary">
          <div class="panel-heading">User's reviews</div>
          <div class="panel-body-container">
            <div class="panel-body"  *ngFor="let item of items">
              <div class="user-name">
              </div>
              <div class="user-rating ">
                  <i *ngFor="let rating of ratings" class ="fa" [ngClass] = "setClasses(rating,3.5)"  aria-hidden="true" >&nbsp;</i>
                <div class="dropdown">
                  <i class="fa fa-info-circle ratting-info-icon" aria-hidden="true"></i>      
                  <div class="dropdown-content">
                    <ul>
                     <li>Price&nbsp;<i *ngFor="let rating of ratings" class ="fa" [ngClass] = "setClasses(rating,3.5)"  aria-hidden="true" >&nbsp;</i></li>
                     <li>Quality&nbsp;<i *ngFor="let rating of ratings" class ="fa" [ngClass] = "setClasses(rating,3.5)"  aria-hidden="true" >&nbsp;</i></li>
                     <li>Bid Response&nbsp;<i *ngFor="let rating of ratings" class ="fa" [ngClass] = "setClasses(rating,3.5)"  aria-hidden="true" >&nbsp;</i></li>
                     <li>Message Response&nbsp;<i *ngFor="let rating of ratings" class ="fa" [ngClass] = "setClasses(rating,3.5)"  aria-hidden="true" >&nbsp;</i></li>
                     <li>Technical Capability&nbsp;<i *ngFor="let rating of ratings" class ="fa" [ngClass] = "setClasses(rating,3.5)"  aria-hidden="true" >&nbsp;</i></li>
                    </ul>
                  </div>        
                </div>
              </div>
              <br>
              <div class="row user-comments">
                <blockquote>
                  <header class="writer-name">From WWF's website:</header>
                  <p>For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.</p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<br>
<div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
          <h2 class="panel-title">
              <a (click)="toggleIcon=!toggleIcon" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <i class ="more-less glyphicon" [ngClass]="{'glyphicon-plus': toggleIcon, 'glyphicon-minus': !toggleIcon }" ></i>
                  Timeline
              </a>
          </h2>
      </div>
      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
              <div id="timeline">
                  <div class="row timeline-movement timeline-movement-top">
                  
                  <div class="timeline-badge timeline-future-movement">
                      <a href="#">
                          <span class="glyphicon glyphicon-time"></span>
                      </a>
                  </div>
              
              </div>
              <div class="row timeline-movement">
              
                  <div class="timeline-badge">
                      <span class="timeline-balloon-date-day">18</span>
                      <span class="timeline-balloon-date-month">APR</span>
                  </div>
              
              
                  <div class="col-sm-offset-6 col-sm-6  timeline-item">
                      <div class="row">
                          <div class="col-sm-offset-1 col-sm-11">
                              <div class="timeline-panel credits">
                                  <ul class="timeline-panel-ul">
                                      <li><span class="importo">Mussum ipsum cacilds</span></li>
                                      <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                                      <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2014</small></p> </li>
                                  </ul>
                              </div>
              
                          </div>
                      </div>
                  </div>
              
                  <div class="col-sm-6  timeline-item">
                      <div class="row">
                          <div class="col-sm-11">
                              <div class="timeline-panel debits">
                                  <ul class="timeline-panel-ul">
                                      <li><span class="importo">Mussum ipsum cacilds</span></li>
                                      <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                                      <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2014</small></p> </li>
                                  </ul>
                              </div>
              
                          </div>
                      </div>
                  </div>
              </div>
              
              <!--due -->
              
              <div class="row timeline-movement">
              
              
                  <div class="timeline-badge">
                      <span class="timeline-balloon-date-day">13</span>
                      <span class="timeline-balloon-date-month">APR</span>
                  </div>
              
                  <div class="col-sm-offset-6 col-sm-6  timeline-item">
                      <div class="row">
                          <div class="col-sm-offset-1 col-sm-11">
                              <div class="timeline-panel debits">
                                  <ul class="timeline-panel-ul">
                                      <li><span class="importo">Mussum ipsum cacilds</span></li>
                                      <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                                      <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2014</small></p> </li>
                                  </ul>
                              </div>
              
                          </div>
                      </div>
                  </div>
              
                  <div class="col-sm-6  timeline-item">
                      <div class="row">
                          <div class="col-sm-11">
                              <div class="timeline-panel credits">
                                  <ul class="timeline-panel-ul">
                                      <li><span class="importo">Mussum ipsum cacilds</span></li>
                                      <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                                      <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2014</small></p> </li>
                                  </ul>
                              </div>
              
                          </div>
                      </div>
                  </div>
              
              
              </div>
              <div class="row timeline-movement">
              
              
                  <div class="timeline-badge">
                      <span class="timeline-balloon-date-day">10</span>
                      <span class="timeline-balloon-date-month">APR</span>
                  </div>
              
                  <div class="col-sm-offset-6 col-sm-6  timeline-item">
                      <div class="row">
                          <div class="col-sm-offset-1 col-sm-11">
                              <div class="timeline-panel debits">
                                  <ul class="timeline-panel-ul">
                                      <li><span class="importo">Mussum ipsum cacilds</span></li>
                                      <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                                      <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2014</small></p> </li>
                                  </ul>
                              </div>
              
                          </div>
                      </div>
                  </div>
              
                  <div class="col-sm-6  timeline-item">
                      <div class="row">
                          <div class="col-sm-11">
                              <div class="timeline-panel credits">
                                  <ul class="timeline-panel-ul">
                                      <li><span class="importo">Mussum ipsum cacilds</span></li>
                                      <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                                      <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2014</small></p> </li>
                                  </ul>
                              </div>
              
                          </div>
                      </div>
                  </div>
              
              
              </div>
              </div>
          </div>
      </div>
  </div>
</div>
</div>