<md-toolbar class="primary-nav" color="primary">
    <span>Supplier Chain</span>
     <span class="example-spacer"></span>
    <button md-button [mdMenuTriggerFor]="menu" xPosition="below" yPosition="below"><md-icon aria-hidden="true">account_circle</md-icon></button>
    <md-menu #menu="mdMenu">
       
      <button md-menu-item  button [routerLink] ="['home']">Home</button>
      <button md-menu-item  button [routerLink] ="['uploaddownload']">Documents</button>
      <button md-menu-item>Log Out</button>
    </md-menu>
</md-toolbar>

