<div class="login-page container-fluid">
  <div class="col-md-12" [hidden] = "!errorMSG">
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Warning!</strong> User name or Password is incorrect.
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 app-login-div">
      <span class="col-md-12 login-header">
        <h2>Welcome</h2>
      </span>
      <div class="input-group row">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" placeholder="User Name" [(ngModel)] = "userName">
      </div>
      <div class="input-group row">
        <span class="input-group-addon"><i class="fa fa-key"></i></span>
        <input type="password" class="form-control" placeholder="Password" [(ngModel)] = "passWord">
      </div>
      <div class="input-group row">
        <small id="fileHelp" class="form-text text-muted">
          <a routerLink="/signup">Not yet registered?</a>
        </small>
      </div>
      <div class="input-group row">
        <button type="button" class="btn btn-primary btn-block login-btn" routerLink="/supplier-list">Log In</button>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>