//@import '~bootstrap/scss/bootstrap';
@import '~open-color/open-color';
@import './theme';
@import 'assets/styles/_variables';
@import "~angular-star-rating/assets/scss/star-rating";
//@import "~bootstrap/dist/css/bootstrap.min";
/*@import "~bootstrap/fonts/glyphicons-halflings-regular.eot";
@import "~bootstrap/fonts/glyphicons-halflings-regular.svg";
@import "~bootstrap/fonts/glyphicons-halflings-regular.ttf";
@import "~bootstrap/fonts/glyphicons-halflings-regular.woff";
@import "~bootstrap/fonts/glyphicons-halflings-regular.woff2";*/


::-webkit-scrollbar-thumb
{
    background-color: $blue;
    -webkit-border-radius: 4px;
    height: 1rem;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-track
{
    height: 1rem;
}
::-webkit-scrollbar
{
    width: 0.5rem;
    display: block;
    height: 1.0rem;
}
@font-face {
    font-family: 'GE Inspira';
    src: url('/assets/styles/fonts/GE Inspira.eot');
    src: url('/assets/styles/fonts/GE Inspira.eot?#iefix') format('eot'),
    url('/assets/styles/fonts/GE Inspira.woff') format('woff'),
    url('/assets/styles/fonts/GE Inspira.ttf') format('truetype'),
    url('/assets/styles/fonts/GE Inspira.svg') format('svg');
    }
html,
body {
    margin: 0;
    padding: 0;

    height: 100%;
}

body {
    font-family: 'Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.text-danger {
    color: $oc-red-7;
}

.text-success {
    color: $oc-green-7;
}

.text-warning {
    color: $oc-orange-7;
}

.text-info {
    color: $oc-indigo-7;
}
