// Monochrome Palette
// -------------------------
$true-black: #000;
$black: #242424;
$gray-black: #232323;
$gray-black-light: #504f4f;

$gray-medium-darker: #616161;
$gray-medium-dark: #b9b9b9;
$gray-medium: #666666;
$gray-medium-light: #d7d7d7;
$gray-medium-lighter: #e3e3e3;
$gray-medium-lightest: #cccdce;

$gray-darkest: #161616;
$gray-darker: #838383;
$gray-dark: #727c82;
$gray: #E2E2E2;
$gray-light: #CAD2D8;
$gray-lighter: #EFF4F7;
$gray-lightest: #FBFBFB;
$off-white: #f0f0f0;
$white: #FFF;

$yellow: #ffd600;

$red: red;

$blue: #3b73b9;
$blue-dark: #094f95;

$body-background-color: #e7e7e7; 