@import '../../assets/styles/_variables';

.app-navigation-bar
{
    background-color: $blue-dark;
    // position: absolute;
    height: 100vh;
    max-height: 100vh;
    width: 100%;


    .navs
    {
        border-bottom: 1px solid $blue;

        a
        {
            color: $gray;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        
        a:hover,
        a:focus
        {
            background-color: $blue-dark;
            border-radius: 0;
        }

        &.active
        {
            background-color: $body-background-color;
            margin-top: 0;
            
            > a
            {
                background-color: transparent;
                color: $blue;
            }
        }

    }
}